In [1]:
import os
import pandas as pd
import numpy as np
import glob

In [9]:
sub = 'sub-04'
ses = 'ses-02'
battery = 'camcan'
task = 'VSTMC'

main_dir = '/home/sshankar/ibc/analysis_pipeline/ibc_main/neurospin_data/info/'
datadir = os.path.join(main_dir, sub, battery, ses)
os.chdir(datadir)
csv_files = sorted(glob.glob('*' + task + '*.txt'))
tsv_files = []
# for i in range(len(csv_files)):
i = 0
tsv_files.append(task + '_' + sub + '_run-0' + str(i+1) + '.tsv')

In [19]:
print(csv_files, tsv_files)

['VSTMC_sub-09_run-01_1618998302.txt', 'VSTMC_sub-09_run-02_1618998844.txt', 'VSTMC_sub-09_run-03_1619000196.txt', 'VSTMC_sub-09_run-04_1619000715.txt'] ['VSTMC_sub-09_run-03.tsv']

In [10]:
# In the log file run start is the file line.
# To extract it read in the first line by itself and then 
# read the rest of the file as a DataFrame.
line1 = pd.read_csv(os.path.join(datadir, csv_files[i]), sep=':', header=None, nrows=1)
run_start = line1[1][0]

In [11]:
run_start

689.3956

In [12]:
# Read in the rest of the file
file_df = pd.read_csv(os.path.join(datadir, csv_files[i]), header=1, sep=',', skipinitialspace=True)

In [20]:
file_df

,Block,Trial,Load,TargetPos,Dir1,Dir2,Dir3,ProbeDir,ResponseError,Cue_onset,...,Stim3_Onset,Delay_Onset,Probe_Onset,ResponseTime,Reaction_Time,TargetCol,Col1,Col2,Col3,DistractDir
0,1,1,3,2,236.25,134.42,138.80,485.15,NaN,132.31,...,135.81,136.34,144.31,149.31,NaN,3.0,1.0,3.0,2.0,0.0
1,1,2,3,1,247.00,223.03,340.67,577.49,NaN,154.68,...,158.18,158.69,166.68,171.68,NaN,2.0,2.0,1.0,3.0,-0.0
2,1,3,1,1,247.00,NaN,NaN,243.28,NaN,176.68,...,180.18,180.69,188.68,193.68,NaN,3.0,3.0,1.0,2.0,1.0
3,1,4,2,1,238.08,292.16,NaN,242.91,NaN,198.69,...,202.19,202.70,210.69,215.69,NaN,1.0,1.0,3.0,2.0,-1.0
4,1,5,1,3,NaN,NaN,247.00,250.28,NaN,220.69,...,224.19,224.71,232.69,237.69,NaN,2.0,1.0,3.0,2.0,-1.0
5,1,6,3,2,285.12,7.00,139.31,401.23,NaN,242.69,...,246.19,246.73,254.69,259.69,NaN,3.0,1.0,3.0,2.0,0.0
6,1,7,2,1,247.00,NaN,44.30,230.07,NaN,264.70,...,268.20,268.73,276.70,281.70,NaN,1.0,1.0,3.0,2.0,1.0
7,1,8,2,3,NaN,62.45,7.00,-1.48,NaN,286.70,...,290.20,290.74,298.70,303.70,NaN,3.0,2.0,1.0,3.0,-1.0
8,1,9,3,3,319.56,308.77,127.00,489.59,NaN,308.70,...,312.21,312.73,320.71,325.71,NaN,1.0,2.0,3.0,1.0,-0.0
9,1,10,2,3,NaN,164.09,247.00,263.06,NaN,330.71,...,334.21,334.73,342.71,347.71,NaN,3.0,2.0,1.0,3.0,1.0
10,1,11,2,2,301.88,7.00,NaN,128.95,NaN,352.71,...,356.21,356.73,364.71,369.71,NaN,2.0,3.0,2.0,1.0,-1.0
11,1,12,1,3,NaN,NaN,7.00,437.27,NaN,374.72,...,378.21,378.74,386.72,391.72,NaN,2.0,1.0,3.0,2.0,1.0
12,1,13,2,2,6.81,247.00,NaN,218.00,-29.00,396.72,...,400.22,400.75,408.72,413.24,4.52,2.0,3.0,2.0,1.0,1.0
13,1,14,1,1,301.73,NaN,NaN,-52.08,NaN,418.25,...,421.74,422.26,430.25,435.25,NaN,3.0,3.0,1.0,2.0,-1.0
14,1,15,3,2,199.35,247.00,286.30,224.57,NaN,440.25,...,443.75,444.29,452.25,457.25,NaN,3.0,1.0,3.0,2.0,0.0
15,1,16,2,1,127.00,108.34,NaN,477.52,NaN,462.25,...,465.75,466.26,474.25,479.25,NaN,1.0,1.0,3.0,2.0,-1.0
16,1,17,1,3,NaN,NaN,127.00,-244.25,NaN,484.26,...,487.76,488.29,496.26,501.26,NaN,2.0,1.0,3.0,2.0,1.0
17,1,18,3,1,7.00,153.29,190.48,-0.91,NaN,506.26,...,509.76,510.28,518.26,523.26,NaN,2.0,2.0,1.0,3.0,-0.0
18,1,19,1,2,NaN,127.00,NaN,498.21,NaN,528.26,...,531.76,532.27,540.26,545.26,NaN,1.0,2.0,1.0,3.0,-1.0
19,1,20,3,3,321.93,35.67,7.00,411.32,NaN,550.27,...,553.77,554.29,562.27,567.27,NaN,1.0,2.0,3.0,1.0,0.0
20,1,21,2,3,73.28,NaN,127.00,112.33,NaN,572.27,...,575.77,576.29,584.27,589.27,NaN,3.0,2.0,1.0,3.0,1.0
21,1,22,2,1,7.00,NaN,315.09,345.91,-21.09,594.27,...,597.77,598.29,606.27,608.82,2.54,1.0,1.0,3.0,2.0,-1.0
22,1,23,1,2,NaN,7.00,NaN,367.32,NaN,613.82,...,617.32,617.84,625.82,630.82,NaN,1.0,2.0,1.0,3.0,1.0

In [23]:
file_df.keys()

Index(['Block', 'Trial', 'Load', 'TargetPos', 'Dir1', 'Dir2', 'Dir3',
       'ProbeDir', 'ResponseError', 'Cue_onset', 'Stim1_Onset', 'Stim2_Onset',
       'Stim3_Onset', 'Delay_Onset', 'Probe_Onset', 'ResponseTime',
       'Reaction_Time', 'TargetCol', 'Col1', 'Col2', 'Col3', 'DistractDir'],
      dtype='object')

In [13]:
# Extract the stimulus load (how many motion directions to remember: 1, 2 or 3)
loads = file_df['Load']

In [14]:
# Extract the onsets of stimulus, probe and response
stim_onsets = file_df['Stim1_Onset']
stim_offsets = file_df['Delay_Onset']
stim_durations = stim_offsets - stim_onsets
stim_types = np.repeat('stim_load', len(stim_onsets))
stims = [i+str(j) for i, j in zip(stim_types, loads.values)]

resp_period_onsets = file_df['Probe_Onset']
resp_period_offsets = file_df['ResponseTime']
resp_period_durations = resp_period_offsets - resp_period_onsets
resp_types = np.repeat('resp_load', len(stim_onsets))
resps = [i+str(j) for i, j in zip(resp_types, loads.values)]

In [9]:
print(stims, resps)

['stim_load3', 'stim_load3', 'stim_load1', 'stim_load2', 'stim_load1', 'stim_load3', 'stim_load2', 'stim_load2', 'stim_load3', 'stim_load2', 'stim_load2', 'stim_load1', 'stim_load2', 'stim_load1', 'stim_load3', 'stim_load2', 'stim_load1', 'stim_load3', 'stim_load1', 'stim_load3', 'stim_load2', 'stim_load2', 'stim_load1'] ['resp_load3', 'resp_load3', 'resp_load1', 'resp_load2', 'resp_load1', 'resp_load3', 'resp_load2', 'resp_load2', 'resp_load3', 'resp_load2', 'resp_load2', 'resp_load1', 'resp_load2', 'resp_load1', 'resp_load3', 'resp_load2', 'resp_load1', 'resp_load3', 'resp_load1', 'resp_load3', 'resp_load2', 'resp_load2', 'resp_load1']

In [15]:
# Create onsets, durations and trial_types vectors that are a zipped merge 
# of the respective stim and resp vectors
trial_onsets = (np.vstack((stim_onsets,resp_period_onsets))).flatten('F')
durations = (np.vstack((stim_durations,resp_period_durations))).flatten('F')
trial_types = (np.vstack((stims,resps))).flatten('F')

In [16]:
# Create a DataFrame to save to events file
df = pd.DataFrame({'onset':(trial_onsets-run_start), 'duration':durations, 'trial_type':trial_types})
df.to_csv(os.path.join(datadir, tsv_files[0]), sep='\t', float_format='%0.3f', index=False)