In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [113]:
sub = 'pilot-53'
ses = 3
battery = 'camcan'
task_source = 'VSTM'
task = 'VSTMC'

main_dir = '/home/sshankar/ibc/analysis_pipeline/ibc_main/neurospin_data/info/'
datadir = os.path.join(main_dir, sub, battery)
csv_file = task_source + '_sub-53_ses-' + str(ses) + '.txt'
tsv_file = task + '_sub-53_ses-' + str(ses).zfill(2) + '.tsv'

In [114]:
print(csv_file, tsv_file)

VSTM_sub-53_ses-3.txt VSTMC_sub-53_ses-03.tsv

In [115]:
# In the log file run start is the file line.
# To extract it read in the first line by itself and then 
# read the rest of the file as a DataFrame.
line1 = pd.read_csv(os.path.join(datadir, csv_file), sep=':', header=None, nrows=1)
run_start = line1[1][0]

In [116]:
# Read in the rest of the file
file_df = pd.read_csv(os.path.join(datadir, csv_file), header=1, sep=',', skipinitialspace=True)

In [117]:
file_df

,Block,\tTrial,\tLoad,\tTargetPos,\tDir1,\tDir2,\tDir3,\tProbeDir,\tResponseError,\tCue_onset,...,\tStim3_Onset,\tDelay_Onset,\tProbe_Onset,\tResponseTime,\tReaction_Time,\tTargetCol,\tCol1,\tCol2,\tCol3,\tDistractDir\t
0,1,1,2,2,78.87,247.00,NaN,76.21,-170.79,5096.78,...,5100.28,5100.80,5108.78,5112.38,3.60,2.0,3.0,2.0,1.0,-1.0
1,1,2,3,2,316.91,247.00,242.33,246.03,-0.97,5117.38,...,5120.88,5121.41,5129.38,5132.75,3.37,3.0,1.0,3.0,2.0,0.0
2,1,3,2,1,7.00,NaN,350.24,310.65,-56.35,5137.75,...,5141.25,5141.79,5149.75,5152.00,2.25,1.0,1.0,2.0,3.0,1.0
3,1,4,1,1,7.00,NaN,NaN,475.34,NaN,5157.00,...,5160.50,5161.04,5169.00,5174.00,NaN,3.0,3.0,1.0,2.0,1.0
4,1,5,2,2,196.16,7.00,NaN,13.71,6.71,5179.00,...,5182.50,5183.03,5191.00,5194.59,3.59,2.0,3.0,2.0,1.0,-1.0
5,1,6,1,3,NaN,NaN,22.72,18.80,-3.93,5199.59,...,5203.09,5203.62,5211.59,5213.35,1.76,2.0,1.0,3.0,2.0,-1.0
6,1,7,3,1,127.00,11.17,285.59,121.35,-5.65,5218.36,...,5221.86,5222.38,5230.36,5233.67,3.31,2.0,2.0,1.0,3.0,-0.0
7,1,8,3,3,192.78,74.04,127.00,102.57,-24.43,5238.68,...,5242.17,5242.70,5250.67,5254.66,3.99,1.0,2.0,3.0,1.0,0.0
8,1,9,1,3,NaN,NaN,247.00,237.49,-9.51,5259.67,...,5263.17,5263.70,5271.67,5275.34,3.67,2.0,1.0,3.0,2.0,1.0
9,1,10,2,1,247.00,NaN,304.69,241.75,-5.25,5280.34,...,5283.84,5284.39,5292.34,5296.19,3.84,1.0,1.0,2.0,3.0,1.0
10,1,11,2,1,127.00,218.13,NaN,128.62,1.62,5301.19,...,5304.69,5305.21,5313.19,5317.27,4.08,1.0,1.0,2.0,3.0,-1.0
11,1,12,1,3,NaN,NaN,127.00,129.88,2.88,5322.27,...,5325.77,5326.30,5334.27,5337.50,3.22,2.0,1.0,3.0,2.0,-1.0
12,1,13,3,2,121.64,127.00,41.78,127.30,0.30,5342.50,...,5346.00,5346.54,5354.50,5357.47,2.97,3.0,1.0,3.0,2.0,-0.0
13,1,14,3,2,39.81,7.00,35.55,30.98,23.98,5362.47,...,5365.97,5366.50,5374.47,5377.97,3.49,3.0,1.0,3.0,2.0,0.0
14,1,15,2,3,NaN,333.45,7.00,43.67,36.67,5382.97,...,5386.47,5386.99,5394.97,5397.72,2.75,3.0,2.0,1.0,3.0,1.0
15,1,16,3,3,37.09,2.42,247.00,329.63,82.63,5402.72,...,5406.22,5406.75,5414.72,5417.33,2.61,1.0,2.0,3.0,1.0,-0.0
16,1,17,1,1,247.00,NaN,NaN,240.69,-6.31,5422.34,...,5425.84,5426.36,5434.34,5436.59,2.25,3.0,3.0,1.0,2.0,1.0
17,1,18,3,1,7.00,78.06,334.01,8.80,1.80,5441.59,...,5445.09,5445.62,5453.59,5456.81,3.21,2.0,2.0,1.0,3.0,0.0
18,1,19,1,2,NaN,247.00,NaN,243.21,-3.79,5461.81,...,5465.31,5465.84,5473.81,5477.05,3.24,1.0,2.0,1.0,3.0,-1.0
19,1,20,2,3,344.43,NaN,127.00,132.66,5.66,5482.05,...,5485.56,5486.08,5494.06,5496.76,2.71,3.0,2.0,1.0,3.0,-1.0
20,1,21,1,2,NaN,7.00,NaN,12.56,5.56,5501.77,...,5505.27,5505.78,5513.77,5517.13,3.36,1.0,2.0,1.0,3.0,1.0
21,1,22,1,3,NaN,NaN,7.00,23.34,16.34,5522.13,...,5525.63,5526.16,5534.13,5536.50,2.37,2.0,1.0,3.0,2.0,-1.0
22,1,23,1,2,NaN,127.00,NaN,152.22,25.22,5541.51,...,5545.01,5545.53,5553.51,5554.44,0.93,1.0,2.0,1.0,3.0,1.0

In [118]:
file_df.keys()

Index(['Block', '\tTrial', '\tLoad', '\tTargetPos', '\tDir1', '\tDir2',
       '\tDir3', '\tProbeDir', '\tResponseError', '\tCue_onset',
       '\tStim1_Onset', '\tStim2_Onset', '\tStim3_Onset', '\tDelay_Onset',
       '\tProbe_Onset', '\tResponseTime', '\tReaction_Time', '\tTargetCol',
       '\tCol1', '\tCol2', '\tCol3', '\tDistractDir\t'],
      dtype='object')

In [119]:
# Extract the stimulus load (how many motion directions to remember: 1, 2 or 3)
loads = file_df['\tLoad']

In [120]:
# Extract the onsets of stimulus, probe and response
stim_onsets = file_df['\tStim1_Onset']
stim_offsets = file_df['\tDelay_Onset']
stim_durations = stim_offsets - stim_onsets
stim_types = np.repeat('stim_load', len(stim_onsets))
stims = [i+str(j) for i, j in zip(stim_types, loads.values)]

resp_period_onsets = file_df['\tProbe_Onset']
resp_period_offsets = file_df['\tResponseTime']
resp_period_durations = resp_period_offsets - resp_period_onsets
resp_types = np.repeat('resp_load', len(stim_onsets))
resps = [i+str(j) for i, j in zip(resp_types, loads.values)]

In [121]:
print(stims, resps)

['stim_load2', 'stim_load3', 'stim_load2', 'stim_load1', 'stim_load2', 'stim_load1', 'stim_load3', 'stim_load3', 'stim_load1', 'stim_load2', 'stim_load2', 'stim_load1', 'stim_load3', 'stim_load3', 'stim_load2', 'stim_load3', 'stim_load1', 'stim_load3', 'stim_load1', 'stim_load2', 'stim_load1', 'stim_load1', 'stim_load1'] ['resp_load2', 'resp_load3', 'resp_load2', 'resp_load1', 'resp_load2', 'resp_load1', 'resp_load3', 'resp_load3', 'resp_load1', 'resp_load2', 'resp_load2', 'resp_load1', 'resp_load3', 'resp_load3', 'resp_load2', 'resp_load3', 'resp_load1', 'resp_load3', 'resp_load1', 'resp_load2', 'resp_load1', 'resp_load1', 'resp_load1']

In [122]:
# Create onsets, durations and trial_types vectors that are a zipped merge 
# of the respective stim and resp vectors
trial_onsets = (np.vstack((stim_onsets,resp_period_onsets))).flatten('F')
durations = (np.vstack((stim_durations,resp_period_durations))).flatten('F')
trial_types = (np.vstack((stims,resps))).flatten('F')

In [123]:
# Create a DataFrame to save to events file
df = pd.DataFrame({'onset':(trial_onsets-run_start), 'duration':durations, 'trial_type':trial_types})
df.to_csv(os.path.join(datadir, tsv_file), sep='\t', float_format='%0.3f', index=False)